.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 100px;
  width: 100px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: flex-start;
  height: 120px; /* Slightly larger than the logo */
  color: white;
}

h1 {
  font-size: 1.5rem;
  margin-left: 20px;
}

.sdk-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border-radius: 8px;
  margin: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
